.deals_title_text {
	margin-bottom: 10px;
	font-size: 20px;
	font-weight: bold;
}

.sm-deals {
	margin-top: 30px;
	/*margin-left: -30px;*/
	overflow: hidden;
}

.sm-deals .deals-items {
	margin: 0;
	padding: 0;
	width: 100%;
	overflow: hidden;
}

.sm-deals .deals-items .deals-item {
	float: left;
	overflow: hidden;
	/*padding-left: 30px;*/
	margin-bottom:30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.sm-deals .deals-items .deals-item .deals-item-inner {
	padding: 10px;
	overflow: hidden;
	border: 1px solid transparent;
}

.sm-deals .deals-items .deals-item .deals-item-inner:hover {
	border: 1px solid #bbb;
	box-shadow: 3px 3px 4px 0 rgba(0,0,0,0.3);
	position: relative;
	z-index: 2;
	background: #fff;
}

.sm-deals .towishlist:before
{
	content: '\e600';
}

.sm-deals .tocompare:before
{
	content: '\e61e';
}

.sm-deals .deals-items .deals-item .deals-image {
	max-width: 100%;
	margin: 0;
	padding-bottom: 10px;
}

.sm-deals .deals-items .deals-item .deals-image img {
	width: 100%;
	max-width: 100%;
	margin: 0;
	padding: 0;
}

.sm-deals .deals-items .deals-item .deals-detail {
	text-align: right;
}

.sm-deals .deals-title {
	margin: 5px 0;
}

.sm-deals .price-box .price
{
	font-weight: bold;
}

.sm-deals .old-price  .price
{
	font-weight: normal;
}

.sm-deals .deals-description {
	margin: 5px 0;
	line-height: 18px;
	word-wrap: break-word;
}

.sm-deals .deals-review {
	margin: 5px 0;
}

.sm-deals .deals-price {
	margin: 10px 0;
}

.sm-deals .deals-review .ratings {
	margin: 0;
}

.sm-deals .deals-review .rating-box {
	margin-right: 5px;
}

.sm-deals .deals-review .rating-links {
	padding-top: 1px;
}

.sm-deals .product-item-actions
{
	margin: 10px 0;
}

.sm-deals .deals-detail
{
	margin: 5px 0;
}

.sm-deals .deals-btn-addtocart {
	margin-bottom: 10px;
}

.sm-deals .add-to-links {
	margin: 0;
}

.sm-deals .deals-items .deals-image:hover {
	opacity: 0.7;
}

.sm-deals .deals-countdown
{
	float: left;
	clear: both;
	width: 100%;
	padding: 5px 0 10px;
}

.sm-deals .deals-time
{
	float: left;
	width: 25%;
	text-align: center;
}

.sm-deals .num-time
{
	font-weight: bolder;
	font-size: 20px;
}

.sm-deals .title-time
{
	font-weight: normal;
	color: #cccccc;
}

/*CSS Responsive*/
@media all and (max-width: 467px) {
	.sm-deals .deals-resp05-6 .deals-item {
		width: 16.666%;
	}

	.sm-deals .deals-resp05-5 .deals-item {
		width: 20%;
	}

	.sm-deals .deals-resp05-4 .deals-item {
		width: 25%;
	}

	.sm-deals .deals-resp05-3 .deals-item {
		width: 33.333%;
	}

	.sm-deals .deals-resp05-2 .deals-item {
		width: 50%;
	}

	.sm-deals .deals-resp05-1 .deals-item {
		width: 100%;
	}

	.sm-deals .deals-resp05-1 .clr1,
	.sm-deals .deals-resp05-2 .clr2,
	.sm-deals .deals-resp05-3 .clr3,
	.sm-deals .deals-resp05-4 .clr4,
	.sm-deals .deals-resp05-5 .clr5,
	.sm-deals .deals-resp05-6 .clr6 {
		clear: both;
	}

	.sm-deals .product-item-actions
	{
		display: block;
	}

	.sm-deals .product-item-actions .actions-primary
	{
		display: table-cell;
	}

	.sm-deals .product-item-actions .actions-primary + .actions-secondary
	{
		display: table-cell;
		padding-left: 10px;
		width: 50%;
	}

	.sm-deals .product-item-actions .actions-primary + .actions-secondary > .action {
		margin-right: 10px;
	}
}

@media all and (min-width: 468px) and (max-width: 767px) {
	.sm-deals .deals-resp04-6 .deals-item {
		width: 16.666%;
	}

	.sm-deals .deals-resp04-5 .deals-item {
		width: 20%;
	}

	.sm-deals .deals-resp04-4 .deals-item {
		width: 25%;
	}

	.sm-deals .deals-resp04-3 .deals-item {
		width: 33.333%;
	}

	.sm-deals .deals-resp04-2 .deals-item {
		width: 50%;
	}

	.sm-deals .deals-resp04-1 .deals-item {
		width: 100%;
	}

	.sm-deals .deals-resp04-1 .clr1,
	.sm-deals .deals-resp04-2 .clr2,
	.sm-deals .deals-resp04-3 .clr3,
	.sm-deals .deals-resp04-4 .clr4,
	.sm-deals .deals-resp04-5 .clr5,
	.sm-deals .deals-resp04-6 .clr6 {
		clear: both;
	}

	.sm-deals .product-item-actions
	{
		display: block;
	}

	.sm-deals .product-item-actions .actions-primary
	{
		display: table-cell;
	}

	.sm-deals .product-item-actions .actions-primary + .actions-secondary
	{
		display: table-cell;
		padding-left: 10px;
		width: 50%;
	}

	.sm-deals .product-item-actions .actions-primary + .actions-secondary > .action {
		margin-right: 10px;
	}
}

@media all and (min-width: 768px) and (max-width: 991px) {
	.sm-deals .deals-resp03-6 .deals-item {
		width: 16.666%;
	}

	.sm-deals .deals-resp03-5 .deals-item {
		width: 20%;
	}

	.sm-deals .deals-resp03-4 .deals-item {
		width: 25%;
	}

	.sm-deals .deals-resp03-3 .deals-item {
		width: 33.333%;
	}

	.sm-deals .deals-resp03-2 .deals-item {
		width: 50%;
	}

	.sm-deals .deals-resp03-1 .deals-item {
		width: 100%;
	}

	.sm-deals .deals-resp03-1 .clr1,
	.sm-deals .deals-resp03-2 .clr2,
	.sm-deals .deals-resp03-3 .clr3,
	.sm-deals .deals-resp03-4 .clr4,
	.sm-deals .deals-resp03-5 .clr5,
	.sm-deals .deals-resp03-6 .clr6 {
		clear: both;
	}
}

@media all and (min-width: 992px) and (max-width: 1199px) {
	.sm-deals .deals-resp02-6 .deals-item {
		width: 16.666%;
	}

	.sm-deals .deals-resp02-5 .deals-item {
		width: 20%;
	}

	.sm-deals .deals-resp02-4 .deals-item {
		width: 25%;
	}

	.sm-deals .deals-resp02-3 .deals-item {
		width: 33.333%;
	}

	.sm-deals .deals-resp02-2 .deals-item {
		width: 50%;
	}

	.sm-deals .deals-resp02-1 .deals-item {
		width: 100%;
	}

	.sm-deals .deals-resp02-1 .clr1,
	.sm-deals .deals-resp02-2 .clr2,
	.sm-deals .deals-resp02-3 .clr3,
	.sm-deals .deals-resp02-4 .clr4,
	.sm-deals .deals-resp02-5 .clr5,
	.sm-deals .deals-resp02-6 .clr6 {
		clear: both;
	}
}

@media all and (min-width: 1200px) {
	.sm-deals .deals-resp01-6 .deals-item {
		width: 16.666%;
	}

	.sm-deals .deals-resp01-5 .deals-item {
		width: 20%;
	}

	.sm-deals .deals-resp01-4 .deals-item {
		width: 25%;
	}

	.sm-deals .deals-resp01-3 .deals-item {
		width: 33.333%;
	}

	.sm-deals .deals-resp01-2 .deals-item {
		width: 50%;
	}

	.sm-deals .deals-resp01-1 .deals-item {
		width: 100%;
	}

	.sm-deals .deals-resp01-1 .clr1,
	.sm-deals .deals-resp01-2 .clr2,
	.sm-deals .deals-resp01-3 .clr3,
	.sm-deals .deals-resp01-4 .clr4,
	.sm-deals .deals-resp01-5 .clr5,
	.sm-deals .deals-resp01-6 .clr6 {
		clear: both;
	}
}

.sm-deals .owl-nav .owl-prev {
	display: block;
	height: 40px;
	width: 40px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 0;
	margin-top: -20px;
	z-index: 99;
	color: #FFFFFF;
	text-align: center;
	line-height: 32px;
	font-size: 40px;
	background: rgba(0, 0, 0, 0.5);
}

.sm-deals .owl-nav .owl-prev:hover {
	background-color: #55E415;
	cursor: pointer;
}

.sm-deals .owl-nav .owl-next {
	display: block;
	height: 40px;
	width: 40px;
	overflow: hidden;
	position: absolute;
	top: 50%;
	right: 0;
	margin-top: -20px;
	z-index: 99;
	background: rgba(0, 0, 0, 0.5);
	font-size: 40px;
	line-height: 32px;
	color: #FFFFFF;
	text-align: center;
}

.sm-deals .owl-nav .owl-next:hover {
	background-color: #55E415;
	cursor: pointer;
}

.sm-deals .owl-nav .owl-prev {
	left: -115px;
}

.sm-deals .owl-nav .owl-next {
	right: -115px;
}

.sm-deals.boxed {
	padding: 0;
}



.sm-deals.boxed .owl-nav .owl-prev {
	left: 0;
}

.sm-deals.boxed .owl-nav .owl-next {
	right: 0;
}

.sm-deals .owl-theme .owl-controls {
	margin-top: 20px;
	text-align: center;
	position: relative;
}

.sm-deals-loading {
	width: 100%;
	max-width: 100%;
	padding: 0;
	position: relative;
	background: url(../images/loading.gif) center center no-repeat transparent;
	min-height: 200px;
}

/*.deals-preload {*/
	/*min-height: 200px;*/
	/*overflow: hidden;*/
	/*height: 200px;*/
/*}*/

.sm-deals .owl-theme .owl-controls .owl-nav [class*="owl-"] {
	background: none repeat scroll 0 0 #d6d6d6;
	border-radius: 3px;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	margin: 5px;
	padding: 4px 7px;
}

.sm-deals .owl-controls .owl-dot,
.sm-deals .owl-controls .owl-nav .owl-next,
.sm-deals .owl-controls .owl-nav .owl-prev {
	-moz-user-select: none;
	cursor: pointer;
}

.sm-deals .owl-theme .owl-dots .owl-dot {
	display: inline-block;
}

.sm-deals .owl-theme .owl-dots .owl-dot.active span,
.sm-deals .owl-theme .owl-dots .owl-dot:hover span {
	background: none repeat scroll 0 0 #55E415;
}

.sm-deals .owl-theme .owl-dots .owl-dot span {
	background: none repeat scroll 0 0 #d6d6d6;
	border-radius: 30px;
	display: block;
	height: 10px;
	margin: 5px 7px;
	transition: opacity 200ms ease 0s;
	width: 10px;
}