<?xml version="1.0"?>

<config>
    <modules>
        <Vt_Flycart>
            <version>1.2</version>
        </Vt_Flycart>
    </modules>
	<frontend>
        <routers>
            <flycart>
                <use>standard</use>
                <args>
                    <module>Vt_Flycart</module>
                    <frontName>flycart</frontName>
                </args>
            </flycart>
        </routers>
        <layout>
            <updates>
                <flycart module="flycart">
                    <file>vt/flycart.xml</file>
                </flycart>
            </updates>
        </layout>
        <translate>
			<modules>
				<Vt_Flycart>
					<files>
						<default>Vt_Flycart.csv</default>
					</files>
				</Vt_Flycart>
			</modules>
        </translate>
    </frontend>
    <adminhtml>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<flycart>
											<title>Advanced Ajax Cart</title>
										</flycart>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>    
    	<translate>
			<modules>
				<Vt_Flycart>
					<files>
						<default>Vt_Flycart.csv</default>
					</files>
				</Vt_Flycart>
			</modules>
        </translate>                 
	</adminhtml>
	<global>
		<models>
		    <flycart>
		        <class>Vt_Flycart_Model</class>		        
		    </flycart>
		    <catalog>
	        	<rewrite>
	        		<!--<product_type_configurable>Vt_Flycart_Model_Product_Type_Configurable</product_type_configurable>-->
					<product_url>Vt_Flycart_Model_Product_Url</product_url>
	        	</rewrite>
            </catalog>		    
		</models>
		<events>                        
            <checkout_cart_add_product_complete>
                <observers>
                    <flycart_addtocart>
                        <type>singleton</type>
                        <class>flycart/observer</class>
                        <method>addToCart</method>
                    </flycart_addtocart>
                </observers>
            </checkout_cart_add_product_complete>
            <checkout_cart_update_item_complete>
                <observers>
                    <flycart_updateitem>
                        <type>singleton</type>
                        <class>flycart/observer</class>
                        <method>updateItemOptions</method>
                    </flycart_updateitem>
                </observers>
            </checkout_cart_update_item_complete>   
            <controller_action_predispatch_catalog_product_view>
                <observers>
                    <flycart_show_configurable_params>
                        <type>singleton</type>
                        <class>flycart/observer</class>
                        <method>addProductWithError</method>
                    </flycart_show_configurable_params>
                </observers>
            </controller_action_predispatch_catalog_product_view>         
            <controller_action_postdispatch_catalog_product_view>
                <observers>
                    <flycart_show_configurable_params>
                        <type>singleton</type>
                        <class>flycart/observer</class>
                        <method>showConfigurableParams</method>
                    </flycart_show_configurable_params>
                </observers>
            </controller_action_postdispatch_catalog_product_view>
            
            <controller_action_predispatch_checkout_cart_add>
            	<observers>
                    <flycart_disable_shopping_cart_page>
                        <type>singleton</type>
                        <class>flycart/observer</class>
                        <method>showGroupedParams</method>
                    </flycart_disable_shopping_cart_page>
                </observers> 
            </controller_action_predispatch_checkout_cart_add>
            <controller_action_predispatch_checkout_cart_delete>
            	<observers>
                    <flycart_disable_shopping_cart_page>
                        <type>singleton</type>
                        <class>flycart/observer</class>
                        <method>deleteCartItem</method>
                    </flycart_disable_shopping_cart_page>
                </observers> 
            </controller_action_predispatch_checkout_cart_delete>
            <controller_action_nocookies>
                <observers>
                    <flycart_nocookies>
                        <class>flycart/observer</class>
                        <method>noCookies</method>
                    </flycart_nocookies>
                </observers>
            </controller_action_nocookies>
            <controller_action_predispatch_wishlist_index_add>
                <observers>
                    <flycart_redirect_to_wishlist>                        
                        <class>flycart/observer</class>
                        <method>redirectToWishlist</method>
                    </flycart_redirect_to_wishlist>
                </observers>
            </controller_action_predispatch_wishlist_index_add>
            <wishlist_add_product>
            	<observers>
                    <flycart_wishlist_add>                        
                        <class>flycart/observer</class>
                        <method>addProductWishlist</method>
                    </flycart_wishlist_add>
                </observers>
            </wishlist_add_product>            
            <catalog_product_compare_add_product>
            	<observers>
                    <flycart_compare_add>                        
                        <class>flycart/observer</class>
                        <method>addProductCompare</method>
                    </flycart_compare_add>
                </observers>
            </catalog_product_compare_add_product>	
            <catalog_product_compare_remove_product>
            	<observers>
                    <flycart_compare_remove>                        
                        <class>flycart/observer</class>
                        <method>removeProductCompare</method>
                    </flycart_compare_remove>
                </observers>	 
            </catalog_product_compare_remove_product>
            <controller_action_postdispatch_wishlist_index_cart>
                <observers>
                    <flycart_show_configurable_params>
                        <type>singleton</type>
                        <class>flycart/observer</class>
                        <method>addToCartFromWishlist</method>
                    </flycart_show_configurable_params>
                </observers>
            </controller_action_postdispatch_wishlist_index_cart>            
            <controller_action_postdispatch_checkout_cart_updateItemOptions>
                <observers>
                    <flycart_show_configurable_params>
                        <type>singleton</type>
                        <class>flycart/observer</class>
                        <method>updateItemOptionsWithError</method>
                    </flycart_show_configurable_params>
                </observers>
            </controller_action_postdispatch_checkout_cart_updateItemOptions>            
        </events> 
		<blocks>
            <flycart>
                <class>Vt_Flycart_Block</class>
            </flycart>
            <catalog>
	        	<rewrite>
	        		<product_list>Vt_Flycart_Block_Product_List</product_list>
	        	</rewrite>
            </catalog>
            <bundle>
            	<rewrite>
	        		<checkout_cart_item_renderer>Vt_Flycart_Block_Checkout_Cart_Item_Renderer</checkout_cart_item_renderer>
	        	</rewrite>
            </bundle>
            <checkout>
            	<rewrite>
	        		<cart_item_renderer>Vt_Flycart_Block_Cart_Item_Renderer</cart_item_renderer>
	        		<cart_item_renderer_grouped>Vt_Flycart_Block_Cart_Item_Renderer_Grouped</cart_item_renderer_grouped>
	        		<cart_item_renderer_configurable>Vt_Flycart_Block_Cart_Item_Renderer_Configurable</cart_item_renderer_configurable>
	        		<cart_crosssell>Vt_Flycart_Block_Cart_Crosssell</cart_crosssell>
	        	</rewrite>
            </checkout> 	
            <wishlist>
            	<rewrite>
            		<links>Vt_Flycart_Block_Wishlist_Links</links>
            		<customer_sidebar>Vt_Flycart_Block_Wishlist_Sidebar</customer_sidebar>
            	</rewrite>	
            </wishlist>	           				
        </blocks>
        <helpers>
			<flycart>
				<class>Vt_Flycart_Helper</class>
			</flycart>
			<catalog>
				<rewrite>
					<product_configuration>Vt_Flycart_Helper_Product_Configuration</product_configuration>
					<product_compare>Vt_Flycart_Helper_Product_Compare</product_compare>
				</rewrite>	
			</catalog>				
		</helpers>
	</global>	
	<default>
    	<flycart>
    		<general>
    			<enabled>0</enabled>   
    			<effect>2</effect> 			    			
    		</general>	
    		<ajaxloader>    			
    			<loadingimagealign>top</loadingimagealign>
    			<bgcolor>#FFFFFF</bgcolor>
    			<bordercolor>#000000</bordercolor>
    			<text>Processing, please wait...</text>
    		</ajaxloader>
    		<confirm_window>
    			<show_window>1</show_window>
    			<auto_hide_window>10</auto_hide_window>
    			<shopping_button_color>gray</shopping_button_color>
    			<cart_button_color>orange</cart_button_color>
    			<bgcolor>#FBFBFB</bgcolor>
    			<width>440</width>
    			<border_size>2</border_size>
    			<bordercolor>#D6D6D6</bordercolor>
    		</confirm_window>
    	</flycart>
	</default>		  
</config>