<?xml version="1.0"?>
<config>
	<modules>
		<Vt_Supershop>
			<version>1.0.0</version>
			<title>7UPTHEME.COM</title>
			<link><![CDATA[http://www.7upthem.com/]]></link>
		</Vt_Supershop>
	</modules>
	<global>
		<models>
		  <supershop>
			<class>Vt_Supershop_Model</class>
		  </supershop>
		</models>	
		<blocks>
            <supershop>
                <class>Vt_Supershop_Block</class>
            </supershop>
        </blocks>				
		<helpers>
            <supershop>
                <class>Vt_Supershop_Helper</class>
            </supershop>
        </helpers>
        <resources>
        	<supershop_setup>
        		<setup>
        			<module>Vt_Supershop</module>
        		</setup>
        	</supershop_setup>
        </resources>		
	</global>
	
	<adminhtml>
        <translate>
      		<modules>
          		<Vt_Supershop>
                     <files>
                          <default>Vt_Supershop.csv</default>
                     </files>
                </Vt_Supershop>
            </modules>
        </translate>
        <layout>
            <updates>
                <supershop module="Vt_Supershop">
                    <file>vt/supershop.xml</file>
                </supershop>
            </updates>
        </layout>
    </adminhtml>
 	<default>
		<supershop_cfg module="supershop">
			<general>
			<!-- Layout -->			
				<layout_styles>1</layout_styles>
				<color>red</color>
			<!-- Entire Page -->
				<body_font_family>Arial</body_font_family>
				<body_font_size>12px</body_font_size>
				<google_font>Anton</google_font>
				<google_font_targets></google_font_targets>
				<direction>1</direction>
				<body_link_color>#686868</body_link_color>
				<body_link_hover_color>#686868</body_link_hover_color>
				<body_text_color>#686868</body_text_color>
				<body_background_color>#ffffff</body_background_color>
				<use_background_image>0</use_background_image>
				<body_background_image></body_background_image>
				<use_customize_image></use_customize_image>
				<background_customize_image></background_customize_image>
				<background_repeat></background_repeat>
				<background_position></background_position>
			<!-- Menu -->	
				<menu_styles>1</menu_styles>
				<menu_ontop>1</menu_ontop>
				<responsive_menu>3</responsive_menu>
			</general>
			<detail_supershop>
				<show_imagezoom></show_imagezoom>
				<zoom_mode></zoom_mode>
				<show_related></show_related>
				<related_number></related_number>
				<show_upsell></show_upsell>
				<upsell_number></upsell_number>
				<show_customtab></show_customtab>
				<customtab_name></customtab_name>
				<customtab_content></customtab_content>
			</detail_supershop>
			<social_supershop>
				<show_facebook>1</show_facebook>
				<facebook_name>Facebook</facebook_name>
				<facebook_url>#</facebook_url>
				<show_twitter>1</show_twitter>
				<twitter_name>Twitter</twitter_name>
				<twitter_url>#</twitter_url>
				<show_google>1</show_google>
				<google_name>Google+</google_name>
				<google_url></google_url>				
				<show_linkedin>1</show_linkedin>
				<linkedin_name>Linkedin</linkedin_name>
				<linkedin_url>#</linkedin_url>
				<show_flickr>1</show_flickr>
				<flickr_name>Flickr</flickr_name>
				<flickr_url>#</flickr_url>				
				<show_pinterest>1</show_pinterest>
				<pinterest_name>Pinterest</pinterest_name>
				<pinterest_url>#</pinterest_url>
			</social_supershop>
			<advanced>
				<show_cpanel>1</show_cpanel>
				<show_ontop>1</show_ontop>
				<!--use_ajaxcart>1</use_ajaxcart-->
				<show_addtocart>1</show_addtocart>
				<show_wishlist>1</show_wishlist>
				<show_compare>1</show_compare>
				<!--show_quickview>1</show_quickview-->
				<custom_copyright>0</custom_copyright>
				<copyright></copyright>
				<custom_css></custom_css>
				<custom_js></custom_js>
			</advanced>
		</supershop_cfg>
	</default> 
</config> 