<?xml version="1.0"?>
<config>
  <modules>
    <Vt_Ajaxfilter>
      <version>1.0.0</version>
    </Vt_Ajaxfilter>
  </modules>
  <global>
    <helpers>
      <ajaxfilter>
        <class>Vt_Ajaxfilter_Helper</class>
      </ajaxfilter>
    </helpers>
    <blocks>
      <ajaxfilter>
        <class>Vt_Ajaxfilter_Block</class>
      </ajaxfilter>
      <catalog>
        <rewrite>
		  <layer_filter_price>Vt_Ajaxfilter_Block_Catalog_Layer_Filter_Price</layer_filter_price>
        </rewrite>
      </catalog>
    </blocks>
    <models>
      <catalog>
        <rewrite>
          <layer>Vt_Ajaxfilter_Model_Catalog_Layer</layer>
        </rewrite>
      </catalog>
	  <catalogsearch>
        <rewrite>
          <layer>Vt_Ajaxfilter_Model_Catalogsearch_Layer</layer>
        </rewrite>
      </catalogsearch>
    </models>
	<resources>
		<ajaxfilter_setup>
		  <setup>
			<module>Vt_Ajaxfilter</module>
			<class>Vt_Ajaxfilter_Model_Resource_Setup</class>
		  </setup>
		  <connection>
			<use>core_setup</use>
		  </connection>
		</ajaxfilter_setup>
	 
		<ajaxfilter_write>
		  <connection>
			<use>core_write</use>
		  </connection>
		</ajaxfilter_write>
		<ajaxfilter_read>
		  <connection>
			<use>core_read</use>
		  </connection>
		</ajaxfilter_read>
	  </resources>
  </global>
  <frontend>
    <layout>
      <updates>
        <ajaxfilter>
          <file>vt/ajaxfilter.xml</file>
        </ajaxfilter>
      </updates>
    </layout>
	<routers>
		<ajaxfilter>
			<use>standard</use>
			<args>
				<module>Vt_Ajaxfilter</module>
				<frontName>ajaxfilter</frontName>
			</args>
		</ajaxfilter>
		<catalog>
			<args>
				<modules>
					<Vt_Ajaxfilter before="Mage_Catalog">Vt_Ajaxfilter_Catalog</Vt_Ajaxfilter>
				</modules>
			</args>
		</catalog>
		<catalogsearch>
			<args>
				<modules>
					<Vt_Ajaxfilter before="Mage_CatalogSearch">Vt_Ajaxfilter_CatalogSearch</Vt_Ajaxfilter>
				</modules>
			</args>
		</catalogsearch>
	</routers>
  </frontend>
  <default>
    <ajaxfilter_cfg>
      <general>
		<isenabled>1</isenabled>
	  </general>
      <price_slider>
      </price_slider>
	  <ajax_conf>
		<loading_text>Please wait...</loading_text>
	  </ajax_conf>
	  <advanced>
		<include_jquery>1</include_jquery>
		<include_jqueryui>1</include_jqueryui>
	  </advanced>
    </ajaxfilter_cfg>
  </default>
</config>
