<?xml version="1.0"?>
<config>
	<modules>
        <Vt_SlideShow>
            <version>1.0</version>
        </Vt_SlideShow>
    </modules>
	<global>
		<models>
            <slideshow>
                <class>Vt_SlideShow_Model</class>
            </slideshow>
        </models>
		<blocks>
            <slideshow>
                <class>Vt_SlideShow_Block</class>
            </slideshow>
        </blocks>
		<helpers>
            <slideshow>
                <class>Vt_SlideShow_Helper</class>
            </slideshow>
        </helpers>
        <resources>
        	<slideshow_setup>
        		<setup>
        			<module>Vt_SlideShow</module>
        		</setup>
        	</slideshow_setup>
        </resources>
	</global>
	<frontend>
        <routers>
			<slideshow>
                <use>standard</use>
                <args>
                    <module>Vt_SlideShow</module>
                    <frontName>slideshow</frontName>
                </args>
            </slideshow>
        </routers>
		<layout>
            <updates>
                <slideshow module="Vt_SlideShow">
					<file>vt/slideshow.xml</file>
                </slideshow>
            </updates>
        </layout>
        <translate>
      		<modules>
          		<Vt_SlideShow>
                     <files>
                          <default>Vt_SlideShow.csv</default>
                     </files>
                </Vt_SlideShow>
            </modules>
        </translate>
	</frontend>
	<adminhtml>
        <translate>
      		<modules>
          		<Vt_SlideShow>
                     <files>
                          <default>Vt_SlideShow.csv</default>
                     </files>
                </Vt_SlideShow>
            </modules>
        </translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<slideshow_cfg translate="title" module="slideshow">
											<title>VT Slideshow Settings</title>
										</slideshow_cfg>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
        <slideshow_cfg>
         	<general>
                <title>SlideShow</title>
            </general>
			<slideshow_effect>
				<autoplay>1</autoplay>
                <timerbar>bottom</timerbar>
				<delay>9000</delay>
                <navigationArrows>nextto</navigationArrows>
				<navigationType>none</navigationType>
                <navigationStyle>square</navigationStyle>
                <html_slides>slide_html1, slide_html2, slide_html3</html_slides>
			</slideshow_effect>
            <advanced>
            	<include_jquery>1</include_jquery>
            	<pretext></pretext>
            	<posttext></posttext>
            </advanced>
        </slideshow_cfg>
    </default>
</config>