<?xml version="1.0"?>
<config>
    <tabs>
        <vt>
            <label>vnthemepro.com</label>
            <sort_order>205</sort_order>
        </vt>
    </tabs>
    <sections>
    	<slideshow_cfg translate="label" module="slideshow">
    		<label>VT SlideShow</label>
            <tab>vt</tab>
			<frontend_type>text</frontend_type>
            <sort_order>150</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <groups>
           	<!-- start general group -->
            	<general translate="label">
            		<label>General settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>10</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
	                	<title translate="label">
	                		<label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
						</title>
                    </fields>
	            </general>
	            <!-- end general group -->
				
				<!-- start slideshow effect group -->
            	<slideshow_effect translate="label">
            		<label>Slideshow settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>15</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
						<autoplay translate="label">
                            <label>Auto play</label>
                            <frontend_type>select</frontend_type>
							<source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <comment></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </autoplay>
                        <timerbar translate="label">
                            <label>Timer bar on</label>
                            <frontend_type>select</frontend_type>
                            <source_model>slideshow/system_config_source_timerBar</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><autoplay>1</autoplay></depends>
                        </timerbar>
                        <delay translate="label">
                            <label>Delay</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>20</sort_order>
                            <comment></comment>
							<validate>validate-greater-than-zero</validate>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </delay>
                        <navigationArrows translate="label">
                            <label>Navigation Arrows</label>
                            <frontend_type>select</frontend_type>
                            <source_model>slideshow/system_config_source_navigationArrows</source_model>
                            <sort_order>25</sort_order>
                            <comment></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </navigationArrows>
                        <navigationType translate="label">
                            <label>Navigation Type</label>
                            <frontend_type>select</frontend_type>
							<source_model>slideshow/system_config_source_navigationType</source_model>
                            <sort_order>30</sort_order>
                            <comment></comment>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </navigationType>
 						<navigationStyle translate="label">
                            <label>Navigation Style</label>
                            <frontend_type>select</frontend_type>
							<source_model>slideshow/system_config_source_navigationStyle</source_model>
                            <sort_order>40</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends><navigationType>bullet</navigationType></depends>
                        </navigationStyle>
                        <slides_html translate="label">
                            <label>List slides html</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>44</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <comment>It's Identifier of Static Blocks(ex: slide_html1, slide_html2, slide_html3)</comment>
                        </slides_html>
                    </fields>
	            </slideshow_effect>
	            <!-- end module setting group -->

	            <advanced translate="label">
	            	<label>Advanced settings</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>45</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <fields>
                    	<include_jquery translate="label">
                    		<label>Include jQuery</label>
		            		<frontend_type>select</frontend_type>
		            		<source_model>adminhtml/system_config_source_yesno</source_model>
		            		<sort_order>10</sort_order>
		            		<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
                    	</include_jquery>
	            		<pretext translate="label">
		            		<label>Pre-text</label>
		            		<frontend_type>textarea</frontend_type>
		            		<sort_order>20</sort_order>
		            		<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</pretext>
	            		<posttext translate="label">
		            		<label>Post-text</label>
		            		<frontend_type>textarea</frontend_type>
		            		<sort_order>30</sort_order>
		            		<show_in_default>1</show_in_default>
							<show_in_website>1</show_in_website>
							<show_in_store>1</show_in_store>
						</posttext>
					</fields>
	            </advanced>
            </groups>
    	</slideshow_cfg>
    </sections>
</config>